<!DOCTYPE html>
<html>
<head>
  <title>Chu Du! The best platform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  
  <ul>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'posts', posts_path %></li>
    <li><%= link_to 'bookmarks', bookmarks_path %></li>
    <li><%= link_to 'gallery', gallery_path %></li>
    <li><%= link_to 'schedule', schedule_path %></li>
    <li><%= link_to 'profile', profile_path %></li>
  </ul>
  
  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <p class="quote">Inspiring quote goes here</p>
    <%= yield %>
    <%= link_to 'More posts', posts_path %>
    <p>Wanna chat?</p>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Quora</p>
  </div>

</body>
</html>
